<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body>
    <h1>MonoMuse</h1>
    <nav> 
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="views/explore.html">Explore</a></li>
            <li><a href="views/exhibitions.html">Exhibitions</a></li>
            <li><a href="views/tickets.html">Tickets</a></li>
            <li><a href="views/checkout.html">Checkout</a></li>
        </ul>
    </nav>

    <div class="main">
        <h1> Buy Tickets </h1>
        <table>
            <tr>
                <th>Ticket Type</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>General Admission</td>
                <td>$15</td>
                <td>Access to all permanent collections and special exhibitions</td>
            </tr>
            <tr>
                <td>Student Admission (65+)</td>
                <td>$10</td>
                <td>Access to all permanent collections and special exhibitions with valid ID</td>
            </tr>
            <tr>
                <td>Member Admission (with valid ID)</td>
                <td>$10</td>
                <td>Access to all permanent collections and special exhibitions for museum members</td>
            </tr>
        </table>
    </div>
</body> 

<footer>
    <p>&copy; @ 2026 MonoMuse. All rights reserved.</p>
</footer>
</html>