<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
<div class="container"> 
    <header class="header">
    <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
    </header>
    <nav class="nav_bar"> 
            <a href="#" class="hamburgerOpen" role="button" aria-label="Open navigation menu">
                <img src="../static/download.png" alt="Hamburger Menu Icon">
            </a>
            <div class="mobileMenu">
                <a href="#" class="hamburgerClosed" role="button" aria-label="Close navigation menu">
                    <img src="../static/download.png" alt="Close Menu Icon">
                </a>

                <ul class="hamburgerLinks">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="explore.html">Explore</a></li>
                    <li><a href="exhibitions.html">Exhibitions</a></li>
                    <li><a href="buytickets.html">Tickets</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                </ul>
            </div>
    </nav>

    <main class="main">
        <h1> Exhibitions </h1>
    <h3> Exhibition 1: Art by Society</h3>
    <p> The "Art by Society" exhibition explores the relationship between art and society, showcasing works that reflect social, political, and cultural themes. This exhibition features a diverse range of artworks, including paintings, sculptures, and multimedia installations, created by artists from around the world. Visitors can expect to see thought-provoking pieces that challenge traditional notions of art and encourage reflection on contemporary issues. </p>
    <h3> Exhibition 2: Modern Masters </h3>
    <p> The "Modern Masters" exhibition showcases the works of renowned artists from the 20th century, highlighting their contributions to the evolution of modern art. This exhibition features a selection of paintings, drawings, and sculptures that demonstrate the innovative techniques and unique styles that defined this transformative period in art history. </p>
    </main>

<footer >
    <p>&copy; MonoMuse. All rights reserved.</p>
    <p id="copyYear"></p>
</footer>
</div>
</body>
</html>